* {
  box-sizing: border-box;
}

.top-page-header {
  height: 20vw;
  width: 100vw;
  padding: 2vh 5vw;
  display: flex;
  flex-direction: column;
  color:#4689FF;
  background-color: #000000;
}

.title_login{
  display:flex;
  width: 100%;
  height: 8vw;
}

.title{
  font-size: 60px;
  font-weight: 700;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color:#4689FF;
}

.lists-right {
  display: flex;
  list-style: none;
  align-items: flex-end;
}


.user-nickname {
  text-decoration: none;
  margin-right: 3vw;
  font-weight: bold;
  color: #4689FF;
}


.logout {
  text-decoration: none;
  color: #4689FF;
}

.login {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  color: #4689FF;
}

.sign-up {
  text-decoration: none;
  color: #4689FF;
}

.nav {
  width: 100%;
  height: 18vw;
  font-size: 20px;
  display:flex;
}

.left-side{
margin-left:2vw;
}

.total{
  overflow-wrap: break-word;
  display:flex;
  margin:0 40px;
}

.total_price{
  overflow-wrap: break-word;
  margin:5px 5px;
}

.total_tax{
  overflow-wrap: break-word;
  margin:5px 5px;
}

.month{
  overflow-wrap: break-word;
  display:flex;
  margin:0 40px;
}

.month_price{
  overflow-wrap: break-word;
  margin:5px 5px;
}

.month_tax{
  overflow-wrap: break-word;
  margin:5px 5px;
}