// Place all the styles related to the gasolines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.backfire{
  background-image: url("backfire.jpg");
  height: 100vh;
  width: 100vw;
  opacity: 1;
  background-size: 100% 100%;
}

.japan{
  height:100vh;
  width: 100vw;
  background-image: url("japan.jpg");
  opacity: 0.3;
  background-size: 100% 100%;
}

.region{
  height:80%;
  width: 100%;
  font-size: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.prefectures{
  color:rgba(0,0,0,1);
  font-weight: 450;
  text-decoration:none;
  background:rgba(51,219,255,1);
  overflow-wrap: break-word;
}

.prefectures:hover{
  color:rgba(0,0,0,1);
  font-size: 80px;
  font-weight: 600;
  text-decoration:none;
  background:rgba(51,219,255,1);
  overflow-wrap: break-word;
}

.okinawa{
  margin-top: 500px;
  overflow-wrap: break-word;
}

.hokkaidou{
  margin-bottom: 500px;
  overflow-wrap: break-word;
}