// Place all the styles related to the gasolines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.backfire{
  background-image: url("backfire.jpg");
  height: 100vh;
  width: 100vw;
}
